@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
}
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

